@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-title: #202024;
    --color-p: #121214;
    --color0: #065e7c;
    --color1:#387E96;
}

body {
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
    background-color: #ffffff;
}

header {
    background-color: var(--color0);
    padding: 1.5rem 2.8rem;
}

header > .menu-box {
    max-width: 37.4rem;
    margin-inline: auto;

    display: flex;
    gap: 2.6rem;
    align-items: center;
}

.input-wrapper > input {
    font-family: "Mulish", sans-serif;
    padding: 1.2rem 1.4rem;

    background-color: var(--color1);
    border: 0;
    border-radius: .4rem;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;

    color: #ffffff;
}

.input-wrapper > input::placeholder {
    color: #ffffff;
}

.container {
    padding-inline: 2rem;
    max-width: calc(38.4rem + (2rem * 2));
    margin-inline: auto;
}

main > img {
    width: 100%;
    height: auto;
}
main > h1 {

    color: var(--color-title);
    margin-top: 1.5rem;
    margin-bottom: .9rem;

    font-size: 2.4rem;
    font-weight: bold;
}

main > p {
    margin-top: 3.2rem;

    color: var(--color-p);
}


#like, #unlike {
    all: unset;

    transition: all 400ms;
}

#like:hover {
    transform: scale(1.2) rotate(-15deg);
}

#unlike:hover {
    transform: scale(1.2) rotate(15deg);
}

aside {
    margin-top: 2rem;
}

aside > h2 {
    color: var(--color-title);

    font-size: 2.4rem;
    font-weight: bolder;
}

aside > section {
    margin-top: 1.5rem;
    display: grid;
    gap: 3.2rem;
}

section > article {
    display: grid;

    grid-template-columns: 15.1rem 1fr;
    gap: 1.6rem;

}

article > img {
    border-radius: .5rem;
}

.article > h3 {
    font-size: 1.8rem;
    line-height: 100%;
    color: var(--color-title);
}

.article > p {
    margin-top: 1rem;
    line-height: 100%;
    font-size: 1.4rem;
    color: var(--color-p);
}

footer {
    background-color: var(--color0);
    color: #ffffff;
    text-align: center;
    padding-block: 2.6rem;
    margin-top: 4rem;
}