@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-title: #202024;
    --color-p: #121214;
    --color0: #065e7c;
    --color1:#387E96;
}

html {
    font:  400 1.6rem/160% "Mulish", sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
    background-color: #ffffff;
    width: 34.2rem;
}

header, nav {
    background-color: var(--color0);
    display: flex;
    align-items: center;
    gap: 2.4rem;
    height: 7.2rem;
    margin: auto;
}

header > form {
    flex: 1;
}

nav {
    padding: 2.4rem;
    margin: auto;
}

.input-wrapper > label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper > input {
    width: 30rem;
    padding: 1.2rem;

    background-color: var(--color1);
    border: 0;
    border-radius: .4rem;

    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.56;
}

.input-wrapper > input::placeholder {
    color: #ffffff;
}

#cat {
    width: 43.4rem;

    position: absolute;
    width: 434px;
    height: 219px;
    left: calc(50% - 434px/2 - 2px);
    top: 72px; 
}
